header{
    display: flex;
    align-items:center;
    gap: 30px;
    padding: 10px 20px;
  
    position: sticky;        /* pour que le header descende */
    top: 0;                  /* pour qu'il reste en haut */
    z-index: 1000; 
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

*{
    margin:0;
}

body{
    background-color: #121212;
}

header.logo_lakers div img {
    height: 50px;        /* ajuster la taille du logo */
}

.menu ul{
    display: flex;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 20px; 
}

.menu a{
    text-decoration: none;
    color: #fbfdfd;
    font-weight:bold;
    transition: color 0.3s
}

.menu a:hover{
    color: #7f04fa; 
    text-decoration: underline;
}